<h1>Dragon Ball</h1>

<dragonball-character-add
  (newCharacter)="dragonballService.addCharacter($event)"
/>

<dragonball-character-list
  listName="Listado de personajes"
  [characters]="dragonballService.characters()"
/>

<!--
Sin estado global, solo persistia la información mientras que uno estaba en la ruta de este componente, al cambiar de ruta y volver se perdia la información

<dragonball-character-add
  (newCharacter)="addCharacter($event)"
/>

<dragonball-character-list
  [characters]="characters()"
  listName="Listado de personajes"
/>
-->
